
/* Parallax backround image */
html {
    background-image: url('images/cityscape.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    max-width:100%;
}

body {
    max-width: 75%;
    height: 100%;
    padding-top: 50px;
}

.nav {
  font-family: 'Ranga', cursive;
}

.navbar-brand {
  font-family: 'Ranga', cursive;
  text-transform:uppercase;
  font-weight: bold;
  font-size:2em;
}

.dropdown .dropdown-menu{
    display: block;
    opacity: 0;

    -moz-transition:    all 1000ms ease;
    -webkit-transition: all 1000ms ease;
    -o-transition:      all 1000ms ease;
    -ms-transition:     all 1000ms ease;
    transition:         all 1000ms ease;
}
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.jumbotron {
    font-family: 'Ranga', cursive;
    text-align: center;
}



.bodyThumbnail {
margin:10px;
}
